/* General */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

h2 {
  color: #00c7b1;
  font-weight: 300;
}

.bg {
  position: relative;
  color: white;
  font-family: "open sans", sans-serif;
  font-size: 27px;
  line-height: 47px;
  letter-spacing: 15px;
  width: 100%;
}

@media screen and (max-width: 839px) {
  .bg {
    display: none;
  }
}

.bg-mobile {
  display: none;
}

@media screen and (max-width: 839px) {
  .bg-mobile {
    display: block;
    position: relative;
    color: white;
    font-family: "open sans", sans-serif;
    font-size: 27px;
    line-height: 47px;
    letter-spacing: 15px;
    width: 100%;
  }
}

.cover {
  width: 100%;
  height: auto;
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
}

@media screen and (max-width: 839px) {
  .cover {
    width: 100%;
  }
}

.inside {
  position: absolute;
  top: 75%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (max-width: 839px) {
  .inside {
    position: absolute;
    top: 75%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

/* web2 */
.paragraph {
  font-size: 14px;
  font-family: "source sans pro", sans-serif;
  color: #888;
  text-align: center;
  width: 100%;
}

.braces-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-gap: 1em;
}

.main-list-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 0.5fr 0.5fr;
      grid-template-rows: 0.5fr 0.5fr;
  grid-row-gap: 0.15em;
}

.main-list-grid div {
  font-family: "source sans pro", sans-serif;
  font-size: 14px;
  color: #888;
}

.main-list-grid p {
  color: black;
}

.list-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 6fr;
      grid-template-columns: 2fr 6fr;
  grid-gap: 1em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: left;
}

.img {
  margin: 0 auto;
}

.check {
  background: transparent;
  margin: 0 auto;
  width: 25%;
}

.list {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile1 {
  display: none;
}

@media screen and (max-width: 839px) {
  .web1 {
    display: none;
  }
  .mobile1 {
    display: block;
  }
  .braces-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.25fr 6fr 0.25fr;
        grid-template-columns: 0.25fr 6fr 0.25fr;
    grid-gap: 1em;
  }
  .main-list-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 0.5fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
    grid-row-gap: 0.15em;
  }
  .list-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 2fr 6fr;
        grid-template-columns: 2fr 6fr;
    grid-gap: 1em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: left;
  }
  .img {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 6fr 0.5fr;
        grid-template-columns: 0.5fr 6fr 0.5fr;
  }
  .check {
    background: transparent;
    margin: 0 auto;
    width: 25%;
  }
  .list {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.braces-grid-how {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 3fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  grid-gap: 3em;
}

.braces-grid-how img {
  width: 90%;
}

@media screen and (max-width: 839px) {
  .braces-grid-how {
    display: none;
  }
}

.braces-grid-how-mobile {
  display: none;
}

@media screen and (max-width: 839px) {
  .braces-grid-how-mobile {
    display: block;
  }
  .braces-grid-how-mobile img {
    width: 40%;
  }
}

.button {
  background-color: rgba(0, 199, 177, 0.85);
  border-color: #00c7b1;
  margin: 15px 15px 0;
  padding: 9px 14px;
  color: #fff;
  font-size: 11px;
}

@media screen and (max-width: 839px) {
  .button {
    padding: 9px 14px;
    font-size: 9px;
  }
}

.braces-grid-how-button {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
  grid-gap: 3em;
}

@media screen and (max-width: 839px) {
  .braces-grid-how-button {
    display: none;
  }
}

.braces-grid-how-button-mobile {
  display: none;
}

@media screen and (max-width: 839px) {
  .braces-grid-how-button-mobile {
    display: inline-block;
  }
}

.line {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr 2fr 2fr 1fr;
      grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}

h2::after {
  content: "";
  display: block;
  height: 2px;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 10px auto;
}

.img-grid {
  background-color: transparent;
  margin: 0 auto;
  width: 14%;
}

@media screen and (max-width: 839px) {
  .img-grid {
    width: 25%;
  }
}

.img-grid-photo {
  background-color: transparent;
  margin: 0 auto;
  width: 55%;
  position: 'absolute';
}

@media screen and (max-width: 839px) {
  .img-grid-photo {
    width: 75%;
  }
}

.text-grid {
  margin: 0 auto;
  font-family: "source sans pro", sans-serif;
  font-size: 14px;
  color: #888;
}

.div-grid {
  position: relative;
  color: white;
  font-family: "open sans", sans-serif;
  font-size: 27px;
  line-height: 47px;
  letter-spacing: 15px;
  margin: 0 0 20px;
  padding: 20px 20px 10px;
}

.inside-grid {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.video {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr 1fr;
      grid-template-columns: 1fr 3fr 1fr;
}

@media screen and (max-width: 839px) {
  .video {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px auto;
  }
}

.ladyScroll {
  position: 'relative';
  height: 400px;
  padding-bottom: 50px;
  padding-top: 50px;
}

@media screen and (max-width: 839px) {
  .ladyScroll {
    display: none;
  }
}

.ladyScroll-mobile {
  display: none;
}

@media screen and (max-width: 839px) {
  .ladyScroll-mobile {
    display: block;
    min-width: 100%;
    max-width: none;
    min-height: 100%;
    position: 'relative';
    margin-top: 30px;
  }
}

.parallax1 {
  width: 100%;
  height: 350px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: center;
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

@media screen and (max-width: 839px) {
  .parallax1 {
    width: 100%;
    height: 100%;
    background-size: cover;
    margin-top: 0px;
    background-position: 0% 0%;
    background-size: center;
    -webkit-filter: brightness(70%);
            filter: brightness(70%);
  }
}

.insideParallax1 {
  position: absolute;
  color: #fff;
  top: 30%;
  left: 10%;
  text-align: left;
  line-height: 30px;
  font-size: 24px;
}

@media screen and (max-width: 839px) {
  .insideParallax1 {
    letter-spacing: 0.05em;
    line-height: 1.715;
    top: 30%;
    left: 5%;
  }
}

.insideParallax2 {
  position: absolute;
  color: #fff;
  top: 50%;
  left: 5%;
  text-align: left;
  line-height: 30px;
  font-size: 24px;
  text-transform: uppercase;
}

@media screen and (max-width: 839px) {
  .insideParallax2 {
    letter-spacing: 0.05em;
    line-height: 1.715;
    top: 35%;
    left: 5%;
  }
}

.portfoilo {
  max-width: 1400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.container {
  position: relative;
  overflow: hidden;
}

.overlay-image {
  display: block;
  max-width: 100%;
  -webkit-transition: all 3s ease;
  transition: all 3s ease;
}

.container:hover .overlay-image {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.overlay {
  position: absolute;
  opacity: 0;
  background-color: #00c7b1;
}

.container:hover .overlay {
  opacity: 1;
}

.overlay-text {
  color: #888;
  font-family: "source sans pro", sans-serif;
  position: absolute;
  bottom: 0;
  padding: 10px 15px 20px 15px;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 300;
  background-color: #303030;
  text-align: left;
}

.overlay-text h3 {
  font-family: "source sans pro", sans-serif;
  color: white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 12px;
}

.overlayDown {
  height: 0;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #00c7b1;
}

.container:hover .overlayDown {
  height: 100%;
}

.quality-body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20fr 1fr;
      grid-template-columns: 1fr 20fr 1fr;
  margin: 40px 0;
}

.quality-body-arabic {
  direction: rtl;
}

.logo-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 0 20px;
}

.logo {
  width: 5em;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 0.75em;
  grid-row-gap: 1em;
  margin: 20px 60px;
}

@media screen and (max-width: 839px) {
  .nav-grid {
    margin-top: 24px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0 auto;
  }
}

.quality-img {
  width: 70%;
}

@media screen and (max-width: 839px) {
  .quality-img {
    width: 50%;
    margin-right: 0;
  }
}

.box {
  border-radius: 8px;
  color: #4c4e56;
  text-align: center;
  font-size: 12px;
  font-weight: 800;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 16px 0;
  background-color: #f1f5fc !important;
  vertical-align: middle;
}

@media screen and (max-width: 839px) {
  .box {
    min-height: 110px;
    font-size: 12px;
  }
}

.custom-active:active {
  border: 2px solid #aae6de !important;
  background: #f4fdfb !important;
}

.header_1 {
  color: #0e1b22;
  font-size: 30px;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
}

@media screen and (max-width: 839px) {
  .header_1 {
    margin: 0 !important;
    font-size: 25px;
    line-height: 36px;
  }
}

.circle {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 43px;
  width: 43px;
  line-height: 43px;
  text-align: center;
  border: 1px solid #e6ecf7;
}

.section1 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 6fr;
      grid-template-columns: auto 6fr;
  margin: 20px 60px;
}

@media screen and (max-width: 839px) {
  .section1 {
    display: none;
  }
}

.section1_mobile {
  display: none;
}

@media screen and (max-width: 839px) {
  .section1_mobile {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 6fr;
        grid-template-columns: auto 6fr;
  }
}

.secion1_q {
  text-align: start;
  padding: 0 10px;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
}

.container-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20fr 1fr;
      grid-template-columns: 1fr 20fr 1fr;
}

.card {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.5fr 3fr 3fr 3fr 0.5fr;
      grid-template-columns: 0.5fr 3fr 3fr 3fr 0.5fr;
  grid-column-gap: 3em;
  grid-row-gap: 1em;
}

@media screen and (max-width: 839px) {
  .card {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.severity-card {
  border-radius: 4px;
  border: 2px solid transparent;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
  max-width: 297px;
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 839px) {
  .severity-card {
    border-radius: 8px;
    color: #4c4e56;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    padding: 16px;
    max-width: 100%;
  }
}

.severity-card img {
  margin: auto;
  border-radius: 5px;
  width: 200px;
  height: 100px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 839px) {
  .severity-card img {
    height: 121px;
    width: 70%;
    padding: 5px 0;
    border-radius: 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.textAreaGrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 10fr;
      grid-template-columns: auto 10fr;
  grid-column-gap: 24px;
  margin: 20px 60px;
}

.textArea {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  width: 80%;
  border-radius: 8px;
  border: 1px solid #eeefef;
  padding: 12px;
}

.error {
  font-size: 10px;
  color: red;
}

.form_grid {
  margin-top: 16px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 1em;
  max-width: 1068px;
}

.form_row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.col {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.form-control {
  font-size: 1em;
  width: 100%;
  border-radius: 0.5em !important;
  border: none !important;
  background-color: rgba(92, 98, 102, 0.09) !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.form-button {
  -ms-grid-column-align: start;
      justify-self: start;
}

.submit-form-button-1 {
  -ms-grid-column-align: start;
      justify-self: start;
  background-color: #3dcdba;
  text-align: center;
  border: none;
  border-radius: .5em;
  color: #fff;
  font-size: 0.75em;
  padding: .75em;
  width: 280px !important;
  margin-top: 25px;
  cursor: pointer;
}

.disclaimer_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: #0e1b22;
  font-size: 16px;
  font-weight: 500;
  line-height: 29px;
}

.section3 {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 6fr;
      grid-template-columns: auto 6fr;
  -ms-grid-column-align: start;
      justify-self: start;
  max-width: 1068px;
}

@media screen and (max-width: 839px) {
  .section3 {
    display: none;
  }
}

.input-container {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form-control-inside {
  background-color: rgba(92, 98, 102, 0.086);
  border-radius: 0.5em;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 38px;
  position: relative;
  -webkit-transition: all 100ms ease 0s;
  transition: all 100ms ease 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 1em;
  outline: 0px !important;
}

.form-control-outside {
  background-color: rgba(92, 98, 102, 0.086);
  border-radius: 0.5em;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 38px;
  position: relative;
  -webkit-transition: all 100ms ease 0s;
  transition: all 100ms ease 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 1em;
  outline: 0px !important;
}

.code {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -webkit-column-gap: 0.5em;
          column-gap: 0.5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.333333%;
          flex: 0 0 33.333333%;
  max-width: 33.333333%;
}

.css-2b097c-container {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.css-mlsk89-control {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: rgba(92, 98, 102, 0.086);
  border-radius: 0.5em;
  cursor: default;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 38px;
  position: relative;
  -webkit-transition: all 100ms ease 0s;
  transition: all 100ms ease 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 1em;
  outline: 0px !important;
}

.css-1hwfws3 {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.css-zk88xw-singleValue {
  color: #333333;
  margin-left: 2px;
  margin-right: 2px;
  max-width: calc(100% - 8px);
  overflow: hidden;
  position: absolute;
  text-overflow: ellipsis;
  white-space: nowrap;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  opacity: 1;
  -webkit-transition: opacity 300ms ease 0s;
  transition: opacity 300ms ease 0s;
}

.css-1g6gooi {
  margin: 2px;
  padding-bottom: 2px;
  padding-top: 2px;
  visibility: visible;
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.css-1wy0on6 {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.css-tlfecz-indicatorContainer {
  color: #cccccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 8px;
  -webkit-transition: color 150ms ease 0s;
  transition: color 150ms ease 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  background-color: rgba(92, 98, 102, 0.086);
  border-radius: 0.5em;
  cursor: default;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 38px;
  -webkit-transition: all 100ms ease 0s;
  transition: all 100ms ease 0s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  font-size: 1em;
  outline: 0px !important;
}

.form_grid-select {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 2.25fr;
      grid-template-columns: 1fr 2.25fr;
  grid-column-gap: 0.5em;
}

.css-mlsk89-control {
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2px 8px;
  position: relative;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.clinic-form-image-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
/*# sourceMappingURL=style.css.map */