// Variables
$header-color:#00c7b1;
$paragraph-font-color: #888;
$paragraph-font-size: 14px;
$paragraph-font-family: "source sans pro", sans-serif;
/* General */
* {
    box-sizing: border-box;
}
body {
    max-width: 1400px;
    margin: 0 auto;
}
h2 {
   color: $header-color;
   font-weight: 300;
}
// first picture background
.bg{
    position: relative; 
    color: white;  
    font-family: "open sans", sans-serif;
    font-size: 27px;
    line-height: 47px;
    letter-spacing: 15px;
    // margin: 0 0 20px;
    // padding: 20px 20px 10px;
    width: 100%;
    @media screen and (max-width: 839px) {
        display: none;
    }
}
.bg-mobile {
    display:none;
    @media screen and (max-width: 839px) {
    display: block;
    position: relative; 
    color: white;  
    font-family: "open sans", sans-serif;
    font-size: 27px;
    line-height: 47px;
    letter-spacing: 15px;
    width: 100%; 
    }
 
}
.cover {
    width: 100%;
    height: auto; 
    filter: brightness(60%);
    @media screen and (max-width: 839px) {
        width: 100%;
       }
}
.inside {
   position: absolute;
   top: 75%;
   left: 50%;
   transform: translate(-50%, -50%);
   @media screen and (max-width: 839px) {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
}
/* web2 */
.paragraph {
    font-size:$paragraph-font-size;
    font-family: $paragraph-font-family;
    color:$paragraph-font-color;
    text-align: center;
    width: 100%;
}

.braces-grid {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-gap: 1em;
}
.main-list-grid {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-row-gap: 0.15em;
    div{
        font-family: $paragraph-font-family;
        font-size: $paragraph-font-size;
        color: $paragraph-font-color;
    }
    p{
        color: black;
    }
}
.list-grid {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-gap: 1em;
    align-items: center;
    text-align: left;
}
.img {
    margin: 0 auto;
}
.check {
   background: transparent;
   margin: 0 auto;
   width: 25%;   
}
.list {
    display: grid;
    align-items: center;
}

.mobile1 {
    display: none;
}
// mobile2
@media screen and (max-width: 839px) {
.web1 {
    display: none;
}
.mobile1 {
    display: block;
}
.braces-grid {
    display: grid;
    grid-template-columns: 0.25fr 6fr 0.25fr;
    grid-gap: 1em;
}
.main-list-grid {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-row-gap: 0.15em;
}
.list-grid {
    display: grid;
    grid-template-columns: 2fr 6fr;
    grid-gap: 1em;
    align-items: center;
    text-align: left;
}
.img {
    display: grid;
    grid-template-columns: 0.5fr 6fr 0.5fr;
}
.check {
   background: transparent;
   margin: 0 auto;
   width: 25%;   
}
.list {
    display: grid;
    align-items: center;
}

}
// web & mobile 4
.braces-grid-how {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
    grid-gap: 3em;
    img {
        width: 90%;
    }
    @media screen and (max-width: 839px) {
        display: none;
    }
}
.braces-grid-how-mobile {
    display: none;
    @media screen and (max-width: 839px) {
        display: block;
    img {
        width: 40%;
    }
    }
}
.button{
    background-color: rgba(0,199,177,.85);
    border-color: #00c7b1;
    margin: 15px 15px 0;
    padding: 9px 14px;
    color: #fff;
    font-size: 11px;
    @media screen and (max-width: 839px) {
    padding: 9px 14px;
    font-size: 9px;
    }
}
.braces-grid-how-button{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 3em;
    @media screen and (max-width: 839px) {
        display: none;
    }
}
.braces-grid-how-button-mobile{
    display: none;
    @media screen and (max-width: 839px) {
    display: inline-block;
    }
}

// web & mobile 6
// ------------------
.line {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
}
h2::after {
    content: "";
    display: block;
    height: 2px;
    width: 120px;
    background-color: rgba(0,0,0,.1);
    margin: 10px auto;
}
.img-grid {
    background-color: transparent;
    margin: 0 auto;
    width: 14%;
    @media screen and (max-width: 839px) {
        width: 25%;
    }
}
.img-grid-photo {
    background-color: transparent;
    margin: 0 auto;
    width: 55%;
    position: 'absolute';
    @media screen and (max-width: 839px) {
        width: 75%;
    }
}
.text-grid {
    margin: 0 auto;
    font-family:$paragraph-font-family ;
    font-size:$paragraph-font-size ;
    color:$paragraph-font-color;
}

.div-grid{
    position: relative; 
    // text-align: center;
    color: white;  
    font-family: "open sans", sans-serif;
    font-size: 27px;
    line-height: 47px;
    letter-spacing: 15px;
    margin: 0 0 20px;
    padding: 20px 20px 10px;
}
.inside-grid{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
// ------------------
// video (web & mobile 3)
.video{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    @media screen and (max-width: 839px) {
        display: flex;
        justify-content: center;
        margin: 20px auto;
    }
}
// web & mobile 5
.ladyScroll{
    position:'relative';
    height:400px;
    padding-bottom:50px;
    padding-top:50px;
    @media screen and (max-width: 839px) {
        display: none;
    }
}
.ladyScroll-mobile{
    display: none;
    @media screen and (max-width: 839px) {
        display: block;
        min-width: 100%;
        max-width: none;
        min-height: 100%;
        position:'relative';
        margin-top: 30px;
    }
}
.parallax1{
    // background:  url("https://www.google.com/url?sa=i&url=https%3A%2F%2Funsplash.com%2Fs%2Fphotos%2Fhuman&psig=AOvVaw1h4XqlXRWUkQ7wyAFU8-1Z&ust=1613911769894000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOCa4ILA-O4CFQAAAAAdAAAAABAD" + ")";
    width: 100%;
    height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:center;
    filter: brightness(70%);
    @media screen and (max-width:839px) {
        width: 100%;
        height: 100%;
        background-size: cover;
        // height: 459px;
        margin-top: 0px;
        background-position: 0% 0%;
        background-size:center;
        filter: brightness(70%); 
    }
}

.insideParallax1{   
    position: absolute;
    color: #fff;
    top: 30%;
    left: 10%;
    text-align: left;
    line-height: 30px;
    font-size: 24px;
    @media screen and (max-width:839px) {
        letter-spacing: 0.05em;
        line-height: 1.715;
        top: 30%;
        left: 5%;
    }
}
// web & mobile 7
.insideParallax2{
    position: absolute;
    color: #fff;
    top: 50%;
    left: 5%;
    text-align: left;
    line-height: 30px;
    font-size: 24px;
    text-transform: uppercase;
    @media screen and (max-width:839px) {
        letter-spacing: 0.05em;
        line-height: 1.715;
        top: 35%;
        left: 5%;
    } 
}
// web & mobile 8
.portfoilo{
    max-width: 1400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    // display: inline-block;
}
.container{
    position: relative;
    // width: 300px;
    // height:300px;
    // display: inline-block;  
    overflow: hidden;
}
.overlay-image{
    display: block;
    // width:100% !important;
    // height:100% i !important;
    max-width: 100%;  
    transition: all 3s ease;
}
.container:hover .overlay-image{
    transform: scale(1.3);
}
.overlay{
    position: absolute;
    // transition: all 0.25s ease;
    opacity: 0;
    background-color:#00c7b1;
}
.container:hover .overlay{
    opacity: 1;
}
.overlay-text{
    color: #888;
    font-family:"source sans pro", sans-serif;
    position: absolute;
    bottom: 0;
    padding: 10px 15px 20px 15px;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: 300;
    background-color: #303030;
    text-align: left;
}
.overlay-text h3 {
    font-family:"source sans pro", sans-serif;
    color: white;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    font-size: 12px;
}
.overlayDown{
    height: 0;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color:#00c7b1; 
}
.container:hover .overlayDown{
    height: 100%;
}
// 1_2 smile

.quality-body{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    margin: 40px 0;
}
.quality-body-arabic{
  direction: rtl;
}
.logo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 20px;
}
.logo{
    width:5em;
}
.nav-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    // grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    grid-column-gap: 0.75em;
    grid-row-gap: 1em;
    margin: 20px 60px;
    @media screen and (max-width: 839px) {
    margin-top: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr!important;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin: 0 auto;
    }
}
.quality-img{
    width: 70%;
  @media screen and (max-width: 839px) {
    width: 50%;
    margin-right: 0; 
    }  
}
.box{
    // width: 90%;
    border-radius: 8px;
    color: #4c4e56;
    text-align: center;
    font-size: 12px;
    font-weight: 800;
    align-items: center;
    cursor: pointer;
    padding: 16px 0;
    background-color: #f1f5fc!important;
    vertical-align: middle;
  @media screen and (max-width: 839px) {
    min-height: 110px; 
    font-size: 12px;
}
}
.custom-active:active{
    border: 2px solid #aae6de !important;
    background: #f4fdfb !important;
}
.header_1{
    color: #0e1b22;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    @media screen and (max-width: 839px) {
        margin: 0!important;
        font-size: 25px;
        line-height: 36px;
    }
}
.circle{
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    border-radius: 50%;
    box-sizing: border-box;
    height: 43px;
    width: 43px;
    line-height: 43px;
    text-align: center;
    border: 1px solid #e6ecf7;
}
.section1{
    display: grid;
    grid-template-columns: auto 6fr;
    margin: 20px 60px;
    @media screen and (max-width: 839px) {
        display: none;
    }
}
.section1_mobile{
    display: none;
    @media screen and (max-width: 839px) {
    display: grid;
    grid-template-columns: auto 6fr;
    }
}
.secion1_q{
    text-align:start;
    padding: 0 10px;
    display: inline-block;
    font-size: 15px;
    font-weight: 500; 
}
.container-grid{
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
}
.card {
    display: grid;
    grid-template-columns: 0.5fr 3fr 3fr 3fr 0.5fr;
    grid-column-gap: 3em;
    grid-row-gap: 1em;
    @media screen and (max-width: 839px) {
        grid-template-columns: 1fr;
    }
}
.severity-card{
    // background: #f1f5fc;
    border-radius: 4px;
    border: 2px solid transparent;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    max-width: 297px;
    width: 100%;
    padding: 20px;
    @media screen and (max-width: 839px) {
    border-radius: 8px;
    color: #4c4e56;
    text-align: center;
    font-size: 14px;
    font-weight: 800;
    align-items: center;
    cursor: pointer;
    padding: 16px;
    max-width: 100%;
    }
}
.severity-card img{
    margin: auto; border-radius: 5px; width: 200px; height: 100px; object-fit: cover;
    @media screen and (max-width: 839px) {
    height: 121px;
    width: 70%;
    padding: 5px 0;
    border-radius: 10px;
    align-items: center;
    }
}
.textAreaGrid{
    display: grid;
    grid-template-columns: auto 10fr;
    grid-column-gap: 24px;
    margin: 20px 60px;
}
.textArea{
   font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #eeefef;
    padding: 12px; 
    // overflow: auto;
    // resize: vertical
//     @media (min-width: 839px){
//     font-size: 14px;
//     font-weight: 700;
//     margin-top: 32px;
//     line-height: 18px;
//     border-radius: 8px;
//     border: 1px solid #eeefef;
//     padding: 12px;
// }
}

//card component
.error {
    font-size: 10px;
    color: red;
}
.form_grid{
    margin-top: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
    max-width: 1068px;
}
.form_row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
}
.form-control {
    font-size: 1em;
    width: 100%;
    border-radius: .5em!important;
    border: none!important;
    background-color: rgba(92,98,102,.09)!important;
        display: flex;
        width: 100%;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-button{
    justify-self: start;
}
.submit-form-button-1 {
    justify-self: start;
    background-color: #3dcdba;
    text-align: center;
    border: none;
    border-radius: .5em;
    color: #fff;
    font-size: 0.75em;
    padding: .75em;
    width: 280px!important;
    margin-top: 25px;
    cursor: pointer;
}
.disclaimer_text{
    display: flex;
    justify-content: flex-start;
    color: #0e1b22;
    font-size: 16px;
    font-weight: 500;
    line-height: 29px;
}
.section3{
    display: grid;
    grid-template-columns: auto 6fr;
    justify-self: start;
    max-width: 1068px;
    @media screen and (max-width: 839px) {
        display: none;
    }
}
.input-container{
    position: relative;
    box-sizing: border-box;
}
.form-control-inside{
    background-color: rgba(92, 98, 102, 0.086);
    border-radius: 0.5em;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    border: none;
    font-size: 1em;
    outline: 0px !important;
}
.form-control-outside{
    background-color: rgba(92, 98, 102, 0.086);
    border-radius: 0.5em;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    border: none;
    font-size: 1em;
    outline: 0px !important;
}
////////////////////////////////////
.code{
    display: grid; grid-template-columns: 1fr 2fr; column-gap: 0.5em; align-items: center; align-content: center;}
.col-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.css-2b097c-container{
position: relative;
box-sizing: border-box;
}
.css-mlsk89-control {
    -webkit-box-align: center;
    align-items: center;
    background-color: rgba(92, 98, 102, 0.086);
    border-radius: 0.5em;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    border: none;
    font-size: 1em;
    outline: 0px !important;
}
.css-1hwfws3 {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.css-zk88xw-singleValue {
    color: rgb(51, 51, 51);
    margin-left: 2px;
    margin-right: 2px;
    max-width: calc(100% - 8px);
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space: nowrap;
    top: 50%;
    transform: translateY(-50%);
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 300ms ease 0s;
}
.css-1g6gooi {
    margin: 2px;
    padding-bottom: 2px;
    padding-top: 2px;
    visibility: visible;
    color: rgb(51, 51, 51);
    box-sizing: border-box;
}
.css-1wy0on6 {
    -webkit-box-align: center;
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
}
.css-tlfecz-indicatorContainer {
    color: rgb(204, 204, 204);
    display: flex;
    padding: 8px;
    transition: color 150ms ease 0s;
    box-sizing: border-box;
}
///////////////////////////////////////
.select{
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    background-color: rgba(92, 98, 102, 0.086);
    border-radius: 0.5em;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 38px;
    // position: relative;
    transition: all 100ms ease 0s;
    box-sizing: border-box;
    border: none;
    font-size: 1em;
    outline: 0px !important;
}
.form_grid-select{
    display: grid;
    grid-template-columns: 1fr 2.25fr;
    grid-column-gap: 0.5em;
}
.css-mlsk89-control{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex: 1 1 0%;
    flex-wrap: wrap;
    padding: 2px 8px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}
.clinic-form-image-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
    @media screen and (max-width:839px) {
        display: grid;
        grid-template-columns: 1fr;
    }
}
.clinic-form-image-grid{
    display: grid;
    grid-template-columns:0.25fr 2fr 1fr 0.25fr;
    grid-gap: 1em;
    direction: direction;
    @media screen and (max-width:839px) {
        // display: grid;
        // grid-template-columns: 1fr;
        // direction: direction;
    }
}

.clinic-form-image-grid2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    direction: direction;
    @media screen and (max-width:839px) {
        display: grid;
        grid-template-columns: 1fr;
        direction: direction;
    }
}
